#bottombar {
    height: 50px;
    width: 800px;
    padding: 0px calc(50% - 400px);
    background-color: rgb(32, 163, 196);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#bottombar_copyright {
    color: rgb(220, 241, 247);
    font-size: 12px;
    font-weight: 400;
}

#bottombar_copyright span {
    font-weight: 700;
}

#bottombar_contact {
    color: rgb(220, 241, 247);;
    font-size: 12px;
    font-weight: 400;
    display: flex;
    align-items: center;
}

#bottombar_contact::before {
    content: "Links";
}

.bottombar_contact_icon {
    font-size: 20px;
    color: rgb(220, 241, 247);
    margin-left: 10px
}

.icon-logo-bilibili:hover {
    color: #fb7299;
}

.icon-logo-email:hover {
    color: #5c7b37;
}

.icon-logo-github:hover {
    color: #24292f
}

.icon-logo-zhihu:hover {
    color: #056de8;
}
