#bottombar {
    position: absolute;
    bottom: 0px;
    height: 50px;
    width: 80%;
    padding: 0px 10%;
    background-color: rgb(32, 163, 196);
    display: flex;
    align-items: center;
    justify-content: space-between;
    user-select: none;
}

#bottombar_copyright {
    color: rgb(220, 241, 247);
    font-size: 12px;
    font-weight: 500;
}

#bottombar_copyright span {
    font-weight: 700;
}

#bottombar_contact {
    color: rgb(220, 241, 247);;
    font-size: 12px;
    font-weight: 500;
    display: flex;
    align-items: center;
}

#bottombar_contact::before {
    content: "Links";
}

.bottombar_contact_icon {
    font-size: 20px;
    color: rgb(220, 241, 247);
    margin-left: 10px;
    transition-duration: 0.1s;
    transition-property: color;
    transition-timing-function: ease;
}

.bottombar_contact_icon.icon-logo-bilibili:hover {
    color: #fb7299;
}

.bottombar_contact_icon.icon-logo-email:hover {
    color: #5c7b37;
}

.bottombar_contact_icon.icon-logo-github:hover {
    color: #24292f
}

.bottombar_contact_icon.icon-logo-zhihu:hover {
    color: #056de8;
}
