a {
    color: #1772d0;
    text-decoration: none;
}
  
a:focus, a:hover {
    color: #f09228;
    text-decoration: none;
}

#main {
    width: 80%;
    margin: 100px auto 200px;
}

.title {
    margin: 32px;
    color: gray;
    font-size: 64px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: -10px -15px
}

#profile_photo {
    height: 400px;
    width: 400px;
    margin: 10px 15px;
}

#profile_card {
    position: relative;
    width: 384px;
    height: 400px;
    margin: 10px 15px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#profile_card::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: rgb(32, 163, 196);
}

#profile_name_en {
    font-size: 36px;
    font-weight: 100;
}

#profile_name_en::before {
    content: "EN.";
    margin-right: 5px;
    color: gray;
    font-size: 16px;
    font-weight: 100;
}

#profile_name_zh {
    font-size: 36px;
    font-weight: 100;
}

#profile_name_zh::before {
    content: "ZH.";
    margin-right: 5px;
    color: gray;
    font-size: 16px;
    font-weight: 100;
}

#profile_name_web {
    margin-top: 5px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 100;
}

#profile_intro {
    width: 800px;
    margin: 25px auto 50px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}