
* {
    font-family: 'Config', 'Microsoft YaHei';
}

a {
    color: #1772d0;
    text-decoration: none;
}
  
a:focus, a:hover {
    color: #f09228;
    text-decoration: none;
}

#main {
    width: 1000px;
    margin: 100px auto 200px;
}

.title {
    margin: 32px;
    color: gray;
    font-size: 64px;
    font-weight: 100;
    display: flex;
    align-items: center;
    justify-content: center;
}

#profile {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: 0px -15px;
    padding-top: 25px;
}

#profile_photo {
    height: 400px;
    width: 400px;
    margin: 10px 15px;
}

#profile_card {
    position: relative;
    height: 400px;
    margin: 10px 15px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#profile_card::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: rgb(32, 163, 196);
}

#profile_name_en {
    font-size: 36px;
    font-weight: 300;
}

#profile_name_en::before {
    content: "EN.";
    margin-right: 5px;
    color: gray;
    font-size: 16px;
    font-weight: 200;
}

#profile_name_zh {
    font-size: 36px;
    font-weight: 200;
}

#profile_name_zh::before {
    content: "ZH.";
    margin-right: 5px;
    color: gray;
    font-size: 16px;
    font-weight: 200;
}

#profile_name_web {
    margin-top: 5px;
    margin-left: 32px;
    font-size: 16px;
    font-weight: 300;
}

#profile_info {
    font-size: 16px;
    font-weight: 300;
}

#profile_info img {
    margin: 1px 8px 0px 0px;
}

.profile_info_item {
    margin: 8px 0px;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
}

#profile_intro {
    width: 800px;
    margin: 10px auto 25px;
    font-size: 16px;
    font-weight: 400;
    text-align: justify;
}

#profile_links {
    height: 36px;
    width: 100%;
    margin-bottom: 16px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#profile_links div {
    position: relative;
    width: 36px;
    height: 36px;
    cursor: pointer;
}

#profile_links div::after {
    position: absolute;
    left: -18px;
    top: 40px;
    width: 72px;
    height: 18px;
    border-radius: 9px;
    color: white;
    font-size: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    opacity: 0;
    transition-duration: 0.25s;
    transition-property: opacity;
    transition-timing-function: ease;
}

#profile_links div:hover::after {
    opacity: 1;
}

#profile_links_github::after {
    content: "Github";
    background-color: #24292f;
}

#profile_links_email::after {
    left: -36px !important;
    width: 108px !important;
    content: "Personal email";
    background-color: #5c7b37;    
}

#profile_links_bilibili::after {
    content: "Bilibili";
    background-color: #fb7299;    
}

#profile_links_zhihu::after {
    content: "Zhihu";
    background-color: #056DE8;    
}

#publication_list {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.publication_item {
    width: 1000px;
    margin: 25px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publication_item_teaser {
    width: 200px;
    height: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.publication_item_text {
    position: relative;
    height: 200px;
    width: 800px;
    margin-left: 25px;
    padding-left: 16px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.publication_item_text::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: rgb(32, 163, 196);
}

.publication_item_title {
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 3px;
}

.publication_item_authors {
    font-size: 16px;
    font-weight: 300;
}

.publication_item_authors span.me {
    font-size: 16px;
    font-weight: 500;
}

.publication_item_location {
    font-size: 16px;
    font-weight: 300;
    font-style: italic;
}

.publication_item_links {
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.publication_item_abstract {
    position: relative;
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    margin-top: 16px;
    text-align: justify;
    overflow: hidden;
}

.publication_item_abstract::before {
    content: "Abstract:";
    font-weight: 500;
    margin-right: 8px;
}

.publication_item_abstract::after {
    content: "...";
    position: absolute;
    bottom: 2px;
    right: 0px;
    background: #fff;
}

.publication_item_abstract .publication_item_abstract_full {
    position: absolute;
    left: 0px;
    top: 0px;
    font-size: 16px;
    font-weight: 300;
    margin-top: 10px;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
} 