#topbar {
    position: fixed;
    top: 0px;
    left: 0px;
    height: 50px;
    width: 100%;
    background-color: white;
    box-shadow: 0px 2px 10px 0px rgba(0, 0, 0, 0.1);
    display: flex;
    user-select: none;
}


#topbar_title
{
	height: 50px;
	color: white;
	font-size: 24px;
	font-weight: 100;
	padding: 0 16px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.topbar_button
{
	height: 50px;
	color: white;
	font-size: 16px;
	font-weight: 100;
	padding: 0 16px;
	display: inline-flex;
    align-items: center;
    justify-content: center;
    transition-duration: 0.25s;
	transition-property: background-color;
	transition-timing-function: ease;
    cursor: pointer;
}

.topbar_button:hover
{
	background-color: rgba(127, 127, 127, 0.5);
}