.conference_list {
    width: 100%;
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.conference_card {
    width: 1000px;
    height: 100px;
    margin: 10px 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conference_name {
    width: 150px;
    height: 100%;
    font-size: 30px;
    font-weight: 900;
    color: gray;
    text-align: center;
    word-break:break-all;
    text-shadow: 2px 2px 0px rgb(224, 224, 224);
    display: flex;
    justify-content: center;
    align-items: center;
}

.conference_time {
    position: relative;
    width: 800px;
    height: 100%;
    margin-left: 10px;
    padding: 0px 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 0px 0px rgb(224, 224, 224);
    background-color: rgb(248, 248, 248);
}

.conference_time::before {
    content: "";
    position: absolute;
    left: 0px;
    top: 0px;
    width: 3px;
    height: 100%;
    background-color: rgb(32, 163, 196);
}

.conference_time_remain {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conference_time_remain_phase {
    font-size: 24px;
    font-weight: 400;
    flex: 1 0 0;
    display: flex;
    justify-content: center;
    align-items: baseline;
}

.conference_time_remain_unit {
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

.conference_time_progress {
    position: relative;
    width: 100%;
    height: 2px;
    flex: 0 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conference_time_progress_phase {
    height: 2px;
    flex: 1 0 0;
}

.conference_time_progress_marker {
    position: absolute;
    top: -6px;
    width: 0px;
    height: 4px;
    margin-left: -3px;
    border-top: 5px solid gray;
    border-bottom: 5px solid gray;
    border-left: 3px solid transparent;
    border-right: 3px solid transparent;
}

.conference_time_absolute {
    width: 100%;
    flex: 1 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
}

.conference_time_absolute_phase {
    font-size: 20px;
    font-weight: 400;
    flex: 1 0 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.conference_time_absolute_phasename {
    font-size: 12px;
    font-weight: 400;
    color: gray;
}

