---
layout: default
title: Jianfeng Xiang | Publications
---

<div class="title">PUBLICATIONS</div>

<div class="publication_list">
    {% for order_id in site.publication_order %}
        {% assign publication = site.publications | where: "order_id", order_id | first %}
        <div class="publication_item">
            <div class="publication_item_teaser">
                {% if publication.teaser_type == "video" %}
                    <video width="200px" autoplay loop muted src="{{ publication.teaser }}"></video>
                {% elsif publication.teaser_type == "image" %}
                    <img width="200px" src="{{ publication.teaser }}">
                {% endif %}
            </div>
            <div class="publication_item_text">
                <div class="publication_item_title">{{ publication.title }}</div>
                <div class="publication_item_authors">
                    <svg class="publication_item_icon publication_item_icon_inline" viewBox="0 0 24 24" aria-hidden="true"><path d="M9 11a4 4 0 1 0 0-8 4 4 0 0 0 0 8zm7 1a3 3 0 1 0 0-6 3 3 0 0 0 0 6zM2 20c0-3.31 3.13-6 7-6s7 2.69 7 6v1H2v-1zm15-5c2.76 0 5 1.79 5 4v2h-5v-2c0-1.45-.54-2.78-1.43-3.81.46-.12.94-.19 1.43-.19z"/></svg>{{ publication.authors }}
                </div>
                <div class="publication_item_location">
                    <svg class="publication_item_icon publication_item_icon_inline" viewBox="0 0 24 24" aria-hidden="true"><path d="M12 2a7 7 0 0 0-7 7c0 5.25 7 13 7 13s7-7.75 7-13a7 7 0 0 0-7-7zm0 9.5a2.5 2.5 0 1 1 0-5 2.5 2.5 0 0 1 0 5z"/></svg>{{ publication.location }}
                </div>
                {% if publication.award %}
                    {% assign award_lower = publication.award | downcase %}
                    {% if award_lower contains "best" and award_lower contains "paper" %}
                <div class="publication_item_award_wrapper">
                    <span class="publication_item_award_pill publication_item_award_pill_gold"><svg class="publication_item_icon publication_item_icon_inline" viewBox="0 0 24 24" aria-hidden="true"><path d="M7 3h10v2h3v3a4 4 0 0 1-4 4 5 5 0 0 1-3 2.83V17h3v2h-8v-2h3v-2.17A5 5 0 0 1 8 12a4 4 0 0 1-4-4V5h3V3zm-1 4v1a2 2 0 0 0 2 2V7H6zm12 0h-2v3a2 2 0 0 0 2-2V7zM6 20h12v2H6v-2z"/></svg>{{ publication.award }}</span>
                </div>
                    {% else %}
                <div class="publication_item_award_wrapper">
                    <span class="publication_item_award_pill">{{ publication.award }}</span>
                </div>
                    {% endif %}
                {% endif %}
                <div class="publication_item_links"><a target="_blank" href="{{ publication.page_url }}">Link</a></div>
                <div class="publication_item_abstract">{{ publication.abstract }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<!-- <script type="text/javascript">
    window.onload = function(){
        let texts = document.getElementsByClassName('publication_item_text');
        for (let i = 0; i < texts.length; i++) {
            let title_height = texts[i].children[0].offsetHeight;
            let margin = (264 - title_height) % 20 + 10;
            texts[i].children[4].style.marginTop = margin;
        }
    };
</script> -->
