---
layout: default
title: Jianfeng Xiang | Publications
---

<div class="title">PUBLICATIONS</div>

<div class="publication_list">
    {% for publication in site.publications %}
        <div class="publication_item">
            <div class="publication_item_teaser">
                {% if publication.teaser_type == "video" %}
                    <video width="200px" autoplay loop muted src="{{ publication.teaser }}"></video>
                {% elsif publication.teaser_type == "image" %}
                    <img width="200px" src="{{ publication.teaser }}">
                {% endif %}
            </div>
            <div class="publication_item_text">
                <div class="publication_item_title">{{ publication.title }}</div>
                <div class="publication_item_authors">{{ publication.authors }}</div>
                <div class="publication_item_location">{{ publication.location }}</div>
                <div class="publication_item_links"><a target="_blank" href="{{ publication.page_url }}">Link</a></div>
                <div class="publication_item_abstract">{{ publication.abstract }}</div>
            </div>
        </div>
    {% endfor %}
</div>

<script type="text/javascript">
    window.onload = function(){
        for (let text in document.getElementsByClassName('publication_item_text')) {
            let title_height = text.children[0].offsetHeight;
            let margin = (title_height -4) % 20 + 10;
            text.children[4].style.marginTop = margin;
        }
    };
</script>
