---
layout: default
title: Jianfeng Xiang | Publications
---

<div class="title">PUBLICATIONS</div>

<div class="publication_list">
    <div>test 1</div>
    {% for id in site.publication_order %}
    <div>{{ id }}</div>
        {% for publication in site.publications %}
        <div>{{ publication.id }}</div>
            {% if publication.id == id %}
                <div class="publication_item">
                    <div class="publication_item_teaser">
                        {% if publication.teaser_type == "video" %}
                            <video width="200px" autoplay loop muted src="{{ publication.teaser }}"></video>
                        {% elsif publication.teaser_type == "image" %}
                            <img width="200px" src="{{ publication.teaser }}">
                        {% endif %}
                    </div>
                    <div class="publication_item_text">
                        <div class="publication_item_title">{{ publication.title }}</div>
                        <div class="publication_item_authors">{{ publication.authors }}</div>
                        <div class="publication_item_location">{{ publication.location }}</div>
                        <div class="publication_item_links"><a target="_blank" href="{{ publication.page_url }}">Link</a></div>
                        <div class="publication_item_abstract">{{ publication.abstract }}</div>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>

<!-- <script type="text/javascript">
    window.onload = function(){
        let texts = document.getElementsByClassName('publication_item_text');
        for (let i = 0; i < texts.length; i++) {
            let title_height = texts[i].children[0].offsetHeight;
            let margin = (264 - title_height) % 20 + 10;
            texts[i].children[4].style.marginTop = margin;
        }
    };
</script> -->
