<div id="bottombar">
    <div id="bottombar_copyright">Copyright © 2022-2025 <span>Jianfeng Xiang</span> | All Rights Reserved.</div>
    <div id="bottombar_contact">
        <a class="bottombar_contact_icon icon-logo-github" href="https://github.com/JeffreyXiang"></a>
        <a class="bottombar_contact_icon icon-logo-email" href="mailto:belljig@outlook.com"></a>
        <a class="bottombar_contact_icon icon-logo-bilibili" href="https://space.bilibili.com/35241831"></a>
        <a class="bottombar_contact_icon icon-logo-zhihu" href="https://www.zhihu.com/people/belljig"></a>
    </div>
</div>