<div id="topbar">
    <div id="topbar_title" onclick="window.location.href='/'">Jianfeng Xiang</div>
    <div id="topbar_spacer"></div>
    <div class="topbar_button" onclick="window.location.href='/'">Home</div>
    <div class="topbar_button" onclick="window.location.href='/publications'">Publications</div>
    <div class="topbar_button" onclick="window.location.href='/blogs'">Blogs</div>
    <div class="topbar_button" onclick="window.location.href='/projects'">Projects</div>
    <div class="topbar_button" onclick="window.location.href='/tools'">Tools</div>
</div>