<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>{{ page.title }}</title>
        <link rel="icon" href="/favicon.png">
        <link rel="stylesheet" href="/fonts/stylesheet.css">
        <link rel="stylesheet" href="/icons/style.css">
        <link rel="stylesheet" href="/css/topbar.css">
        <link rel="stylesheet" href="/css/bottombar.css">
        <link rel="stylesheet" href="/css/default.css">
        <link rel="stylesheet" href="/css/sharp.css">
    </head>
    <body>
        {% include topbar.html %}
        <div id="main">
            {{ content }}
        </div>
        {% include bottombar.html %}
    </body>
</html>